﻿@page "/-/cache"

@using Deskimg.WebAPI.Fetch.Services

@if (ViewData is not null) {
    string title = SR.Default.Cache.Title;
    <PageTitle>@SR.Default.PageTitle(title)</PageTitle>
    <Heading_Component Heading="@title" />

    <div class="container">
        <table class="table table-striped small">
            <colgroup>
                <col width="30%" />
                <col width="30%" />
                <col width="15%" />
                <col width="15%" />
                <col width="10%" />
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">@SR.Default.Cache.Host</th>
                    <th scope="col">@SR.Default.Cache.FileName</th>
                    <th scope="col">@SR.Default.Cache.ExpiresAtTime</th>
                    <th scope="col" colspan="2">@SR.Default.Cache.AbsoluteExpiration</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewData.OrderBy(x => x.Value.ExpiresAtTime)) {
                    var className = item.Value.State != FetchState.Ready ? "text-bg-danger" : string.Empty;
                    <tr>
                        <td class="text-break @className">
                            <div>@item.Value.Host</div>
                            <div>@item.Key</div>
                        </td>
                        <td class="text-break @className">
                            @item.Value.FileName
                        </td>
                        <td class="@className">
                            @item.Value.ExpiresAtTime.ToString("d")
                            @item.Value.ExpiresAtTime.ToString("t")
                        </td>
                        <td class="@className">
                            @item.Value.AbsoluteExpiration.ToString("d")
                            @item.Value.AbsoluteExpiration.ToString("t")
                        </td>
                        <td class="@className">
                            @if (item.Value.State != FetchState.Ready) {
                                @item.Value.State.ToString()
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
