﻿@page "/-/{GridArea:int}/{ComponentIndex:int}"
@page "/-/{GridArea:int}/{ComponentIndex:int}/{ContainerGridArea:int}/{ContainerComponentIndex:int}"

@using System.Collections.Immutable
@using System.Net.Http.Headers
@using Deskimg.Calendar
@using Deskimg.Calendar.Epg
@using Deskimg.Components
@using Deskimg.Meteorology

@if (GetComponent() is ComponentType component) {
    List<object> path = [
        nameof(LayoutSet.Index),
        GridArea,
        nameof(IndexType.Component),
        ComponentIndex
    ];
    if (ContainerGridArea is not null && ContainerComponentIndex is not null) {
        path.AddRange(
            nameof(Components.Container),
            nameof(LayoutSet.Index),
            ContainerGridArea,
            nameof(IndexType.Component),
            ContainerComponentIndex
        );
    }
    path.AddRange(component.Name);
    var title = string.Join(':', path);
    <PageTitle>@SR.Default.PageTitle(title)</PageTitle>
    @if (ContainerGridArea is null && ContainerComponentIndex is null) {
        <Heading_Component Heading="@title"
                           MoveClicked="MoveClicked"
                           RemoveClicked="RemoveClicked" />
    } else {
        <Heading_Component Heading="@title" />
    }

    <div class="container">
        @foreach (var parameter in GetImplementorParameters(component)) {
            <Parameter_Component Label="@parameter.Key">
                @if (parameter.Value == typeof(AlertSeverity).FullName) {
                    <AlertSeverity_Component Parameters="@component.Parameters" Key="@parameter.Key" />
                } else
                if (parameter.Value == CustomDataType.AtomSource) {
                    <InputText_Component Parameters="@component.Parameters" Key="@parameter.Key"
                                         DataList="@GetStringSetDataList(CustomDataType.AtomSource)" />
                } else
                if (parameter.Value == CustomDataType.InlineSource) {
                    <InputText_Component Parameters="@component.Parameters" Key="@parameter.Key"
                                         DataList="@GetStringSetDataList(CustomDataType.InlineSource)" />
                } else
                if (parameter.Value == CustomDataType.AlertSource) {
                    <InputText_Component Parameters="@component.Parameters" Key="@parameter.Key"
                                         DataList="@GetGeopositionDataList()" />
                } else
                if (parameter.Value == CustomDataType.EpgSource) {
                    <EpgSet_Component Parameters="@component.Parameters" Key="@parameter.Key"
                                      DataMap="@GetEpgSourceDataList()" />
                } else
                if (parameter.Value == CustomDataType.CalendarSource) {
                    <StringSet_Component Parameters="@component.Parameters" Key="@parameter.Key"
                                         DataList="@GetExportsDataList(typeof(ISubsetCalendar), typeof(ISubsetCalendar2))" />
                } else
                if (parameter.Value == CustomDataType.LocationSource) {
                    <StringSetCheckbox_Component Parameters="@component.Parameters" Key="@parameter.Key"
                                                 Movable="true"
                                                 DataList="@GetExportsDataList("LocationSource", typeof(ISubsetCalendar2))" />
                } else
                if (parameter.Value == CustomDataType.MeteorologySource) {
                    <StringSetCheckbox_Component Parameters="@component.Parameters" Key="@parameter.Key"
                                                 Movable="true"
                                                 DataList="@GetGeopositionDataList()" />
                } else
                if (parameter.Value == typeof(TimeSpan).FullName) {
                    <InputDuration_Component Parameters="@component.Parameters" Key="@parameter.Key" />
                } else
                if (parameter.Value == typeof(bool).FullName) {
                    <InputSwitch_Component Parameters="@component.Parameters" Key="@parameter.Key" />
                } else
                if (parameter.Value == typeof(int).FullName) {
                    <InputNumber_Component Parameters="@component.Parameters" Key="@parameter.Key" />
                } else
                if (parameter.Value == typeof(double).FullName) {
                    <InputNumberD_Component Parameters="@component.Parameters" Key="@parameter.Key" />
                } else
                if (parameter.Value == typeof(string).FullName) {
                    <InputText_Component Parameters="@component.Parameters" Key="@parameter.Key" />
                } else
                if (parameter.Value == typeof(CacheControlHeaderValue).FullName) {
                    <CacheControl_Component Parameters="@component.Parameters" Key="@parameter.Key" />
                } else
                if (parameter.Value == typeof(Components.ImageStyle).FullName) {
                    <ImageStyle_Component Parameters="@component.Parameters" Key="@parameter.Key" />
                } else
                if (parameter.Value == typeof(IList<string>).FullName ||
                    parameter.Value == typeof(IImmutableList<string>).FullName) {
                    // NOTE: this is a fallback condition, the best way is to match a CustomDataType above
                    <StringSet_Component Parameters="@component.Parameters" Key="@parameter.Key" />
                } else
                if (parameter.Value == typeof(IList<IndexType>).FullName) {
                    var containerIndex = GetComponentIndex(component);
                    if (containerIndex is not null) {
                        <div class="row m-1" style="max-width: calc(1.5 * var(--aside-width))">
                            @for (int i = 0; i < containerIndex.Count; ++i) {
                                string href = navigation.IndexPage(GridArea, ComponentIndex, i);
                                <div class="@containerIndex[i].Class"
                                        style="background-color: @Sidebar.GetIndexColor(i); outline: solid 1px var(--bs-body-bg)">
                                    <a class="nav-link p-2 py-4" href="@href" role="link" tabindex="0">
                                        <div class="fw-bold border-bottom border-light">
                                            @i: @containerIndex[i].Class
                                        </div>
                                        @foreach (var containerComponent in containerIndex[i].Component ?? []) {
                                            <div>
                                                @containerComponent.FirstOrDefault().Key
                                            </div>
                                        }
                                    </a>
                                </div>
                            }
                        </div>
                    }
                } else
                if (parameter.Value == CustomDataType.Style) {
                    <StringMap_Component Parameters="@component.Parameters" Key="@parameter.Key"
                                         DataList="@GetStringMapDataList(CustomDataType.Style)" />
                } else
                if (parameter.Value == typeof(IDictionary<string, string>).FullName ||
                    parameter.Value == typeof(IImmutableDictionary<string, string>).FullName) {
                    <StringMap_Component Parameters="@component.Parameters" Key="@parameter.Key" />
                } else {
                    <div class="text-danger">@parameter.Value</div>
                }
            </Parameter_Component>
        }
    </div>
}
