﻿@page "/-/{GridArea:int}"
@page "/-/{GridArea:int}/{ComponentIndex:int}/{ContainerGridArea:int}"

@using Embedded = Deskimg.Blazor.Settings.Resources.Embedded

@if (GetIndex() is IndexType index) {
    string title = string.Join(':', nameof(LayoutSet.Index), GridArea);
    <PageTitle>@SR.Default.PageTitle(title)</PageTitle>
    bool isNewIndex = GridArea >= CurrentSet?.Index?.Count;
    @if (isNewIndex) {
        <Heading_Component Heading="@title" />
    } else {
        <Heading_Component Heading="@title"
                           MoveClicked="MoveClicked"
                           RemoveClicked="RemoveClicked" />
    }

    <div class="container">
        <Parameter_Component Label="@nameof(IndexType.Class)">
            <InputText_Component @bind-Value="Class" required="true" />
        </Parameter_Component>
        <Parameter_Component Label="@nameof(IndexType.Component)">
            @{
                // get the components collection in order to know about the component count
                var components = GetComponents();
            }
            @foreach (var item in components) {
                <div class="input-group mb-1">
                    <input class="form-control" value="@item.Title" readonly />
                    <button class="btn btn-outline-secondary p-0"
                            disabled="@(item.Index == 0)"
                            @onclick="@(() => MoveComponentClicked(item, -1))">
                        @((MarkupString)Embedded.Action("arrow-up"))
                    </button>
                    <button class="btn btn-outline-secondary p-0"
                            disabled="@(item.Index == components.Count - 1)"
                            @onclick="@(() => MoveComponentClicked(item, 1))">
                        @((MarkupString)Embedded.Action("arrow-down"))
                    </button>
                    <button class="btn btn-outline-danger p-2" title="Remove"
                            @onclick="@(() => RemoveComponentClicked(item))">
                        @((MarkupString)Embedded.Action("trash"))
                    </button>
                </div>
            }
            <div class="input-group mb-1">
                <InputSelect class="form-select" @bind-Value="BindValue" style="max-width: 100%">
                    <option></option>
                    @foreach (var item in GetDeskletDataList(typeof(Components.Index), typeof(Components.Background))) {
                        <option value="@item">@item</option>
                    }
                </InputSelect>
                <button class="btn btn-outline-success p-2" title="Add" autocomplete="off" spellcheck="false"
                        @onclick="AddComponentClicked">
                    @((MarkupString)Embedded.Action("plus"))
                </button>
            </div>
        </Parameter_Component>

        @if (isNewIndex) {
            <div class="d-flex justify-content-center p-2 my-4">
                <button class="btn btn-lg btn-success" style="width: 10rem"
                        @onclick="AddClicked">
                    Add
                </button>
            </div>
        }
    </div>
}
