﻿@page "/-/geo/"
@page "/-/geo/{Id}"

@{
    var (geoposition, isNew) = GetGeoposition();
    string title = string.Join(':', nameof(LayoutSet.Geolocation), Id);
}
<PageTitle>@SR.Default.PageTitle(title)</PageTitle>
@if (isNew) {
    <Heading_Component Heading="@title" />
} else {
    <Heading_Component Heading="@title"
                       RemoveClicked="RemoveClicked" />
}

<div class="container">
    @if (isNew) {
        <Parameter_Component Label="@SR.Default.LabelString("Identity")">
            <InputText_Component @bind-Value="Id" autofocus required />
        </Parameter_Component>
        <hr>
    }
    @if (geoposition.CivicAddress is CivicAddress civicAddress) {
        <Parameter_Component Label="@nameof(Geoposition.CivicAddress)">
            <div class="row">
                <div class="col-8">
                    <label class="form-label">@nameof(CivicAddress.City)</label>
                    <InputText_Component @bind-Value="civicAddress.City" />
                </div>
                <div class="col-4">
                    <label class="form-label">@SR.Default.LabelString(nameof(CivicAddress.Country))</label>
                    <InputText_Component @bind-Value="civicAddress.Country" />
                </div>
            </div>
        </Parameter_Component>
    }
    @if (geoposition.Coordinate is Geocoordinate coords) {
        <Parameter_Component Label="@nameof(Geoposition.Coordinate)">
            <div class="row">
                <div class="col-auto">
                    <label class="form-label">@SR.Default.LabelString(nameof(Geocoordinate.Latitude))</label>
                    <InputNumber class="form-control" @bind-Value="coords.Latitude"
                                    min="-90" max="90" />
                </div>
                <div class="col-auto">
                    <label class="form-label">@SR.Default.LabelString(nameof(Geocoordinate.Longitude))</label>
                    <InputNumber class="form-control" @bind-Value="coords.Longitude"
                                    min="-180" max="180" />
                </div>
                <div class="col-3">
                    <label class="form-label">@SR.Default.LabelString(nameof(Geocoordinate.Altitude))</label>
                    <InputNumber class="form-control" @bind-Value="coords.Altitude" />
                </div>
                <div class="col-1">
                </div>
            </div>
        </Parameter_Component>
    }
    <Parameter_Component Label="@nameof(Geoposition.TimeZone)">
        <InputText_Component @bind-Value="geoposition.TimeZone"
                             DataList="@NodaTime.DateTimeZoneProviders.Tzdb.Ids" />
    </Parameter_Component>
    <Parameter_Component Label="@nameof(Geoposition.Tags)">
        <StringSet_Component @bind-Value="geoposition.Tags"
                             DataList="@TagsDataList" />
    </Parameter_Component>

    @if (isNew) {
        <div class="d-flex justify-content-center p-2 my-4">
            <button class="btn btn-lg btn-success" style="width: 10rem"
                    @onclick="AddClicked">
                Add
            </button>
        </div>
    }
</div>
