﻿@page "/-/bk"

@using System.Globalization

@if (CurrentSet?.Background is not null) {
    string title = nameof(LayoutSet.Background);
    <PageTitle>@SR.Default.PageTitle(title)</PageTitle>
    <Heading_Component Heading="@title" />

    <div class="container">
        @if (GetOverlay() is BackgroundOverlay overlay) {
            <Accordion_Component Label="@nameof(BackgroundType.Overlay)"
                                 Value="overlay.Pattern">
                <Parameter_Component Label="@nameof(BackgroundOverlay.Pattern)">
                    <HatchPattern_Component @bind-Value="overlay.Pattern" />
                </Parameter_Component>
                <Parameter_Component Label="@nameof(BackgroundOverlay.Opacity)">
                    <div class="row">
                        <div class="col-4">
                            <InputRange_Component @bind-Value="Opacity1"
                                                  Min="0" Max="1" Step="0.01" />
                        </div>
                        <div class="col-2">
                            @_opacity1.ToString(CultureInfo.CurrentCulture)
                        </div>
                        <div class="col-4">
                            <InputRange_Component @bind-Value="Opacity2"
                                                  Min="0" Max="1" Step="0.01" />
                        </div>
                        <div class="col-2">
                            @_opacity2.ToString(CultureInfo.CurrentCulture)
                        </div>
                    </div>
                </Parameter_Component>
                <Parameter_Component>
                    <div class="row">
                        <label class="col-2 col-form-label">
                            @nameof(BackgroundOverlay.Width)
                        </label>
                        <div class="col-4">
                            <InputNumber_Component @bind-Value="overlay.Width"
                                                   Min="0" />
                        </div>
                        <label class="col-2 col-form-label">
                            @nameof(BackgroundOverlay.Height)
                        </label>
                        <div class="col-4">
                            <InputNumber_Component @bind-Value="overlay.Height"
                                                   Min="0" />
                        </div>
                    </div>
                </Parameter_Component>
            </Accordion_Component>
        }
        @foreach (var composite in Composite) {
            <Accordion_Component Label="@nameof(BackgroundType.Composite)"
                                 Value="@($"[{composite.From}, {composite.To}]")">
                <Parameter_Component Label="@nameof(BackgroundComposite.From)">
                    <div class="row">
                        <div class="col-auto">
                            <InputRange_Component @bind-Value="composite.From"
                                                  Min="-1" Max="1" Step="0.1" />
                        </div>
                        <div class="col-auto">
                            @composite.From.ToString(CultureInfo.CurrentCulture)
                        </div>
                    </div>
                </Parameter_Component>
                <Parameter_Component Label="@nameof(BackgroundComposite.To)">
                    <div class="row">
                        <div class="col-auto">
                            <InputRange_Component @bind-Value="composite.To"
                                                  Min="-1" Max="1" Step="0.1" />
                        </div>
                        <div class="col-auto">
                            @composite.To.ToString(CultureInfo.CurrentCulture)
                        </div>
                    </div>
                </Parameter_Component>
                <Parameter_Component Label="@nameof(BackgroundComposite.Items)">
                    @foreach (var item in composite.Items ?? []) {
                        <div class="row">
                            <div class="col-10 mb-2">
                                <InputText_Component @bind-Value="item.Source" />
                            </div>
                            <div class="col-auto mb-2">
                                <InputNumber class="form-control" @bind-Value="item.Opacity"
                                             min="0" max="1" step="0.1" />
                            </div>
                        </div>
                    }
                </Parameter_Component>
            </Accordion_Component>
        }
    </div>
}
