﻿<div class="d-flex justify-content-between action p-2">
    <div role="toolbar">
        <button class="btn btn-sm btn-info" accesskey="P"
                @onclick="@(() => navigation.NavigateTo(navigation.PreviewPage()))">
            @SR.Default.Preview.Title
        </button>
        <button class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            @SR.Default.Modal.More
        </button>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href="@navigation.ExportPage()">
                    @SR.Default.Export.Title
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="@navigation.CachePage()">
                    @SR.Default.Cache.Title
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="#" @onclick="ResetClicked" @onclick:preventDefault>
                    @SR.Default.Modal.Reset
                </a>
            </li>
        </ul>
    </div>
    <div role="toolbar">
        <button class="btn btn-sm btn-primary" accesskey="S"
                @onclick="@OkClicked">
            @SR.Default.Modal.Save
        </button>
        <button class="btn btn-sm btn-secondary"
                @onclick="@CancelClicked">
            @SR.Default.Modal.Cancel
        </button>
    </div>
</div>
@if (_notification is not null) {
    <div class="notification @_notification.CssClass d-flex justify-content-between border rounded p-2" role="alertdialog">
        <div>
            @_notification.Message
        </div>
        <div class="icon-link">
            @if (!string.IsNullOrWhiteSpace(_notification.Confirm)) {
                <button class="btn btn-sm btn-secondary"
                        @onclick="@(() => ConfirmClicked(_notification.Confirm))">
                    @SR.Default.Modal.Confirm
                </button>
            }
            <div class="icon-link">
                <button class="btn-close text-bg-light" @onclick="CloseNotification"></button>
            </div>
        </div>
    </div>
}
