﻿@page "/"
@page "/index.html"

@using Embedded = Deskimg.Blazor.Settings.Resources.Embedded

<PageTitle>@SR.Default.Title</PageTitle>
<Heading_Component Heading="@SR.Default.Title" />

<div class="container">
    <p>
        <h5>👈 On the left sidebar</h5>
        <ul class="nav flex-column pt-2">
            <li class="nav-item icon-link ms-4 mb-2">
                @((MarkupString)Embedded.Action("wallpaper"))
                Modify Background or Components.
            </li>
            <li class="nav-item icon-link ms-4 mb-2">
                @((MarkupString)Embedded.Action("location"))
                Create or modify Geolocations.
            </li>
            <li class="nav-item icon-link ms-4 mb-2">
                @((MarkupString)Embedded.Action("container"))
                Create or modify Indexes.
            </li>
        </ul>
    </p>
    <p>
        <h5>👇 On the bottom footer</h5>
        <ul class="pt-2">
            <li class="ms-4 mb-2">
                Preview the settings result.
            </li>
            <li class="ms-4 mb-2">
                Choose additional tools.
            </li>
            <li class="ms-4 mb-2">
                Or close the Settings editor with Saved or Canceled result.
            </li>
        </ul>
    </p>
</div>
