﻿@page "/-/preview"

<PageTitle>@SR.Default.PageTitle(SR.Default.Preview.Title)</PageTitle>

<div class="container" data-background="css" data-app-theme="outline">
    @{/* NOTE: Index has a @page directive, hence throws a AmbiguousMatchException.
               For now rely on the fallback mechanism. */}
    <Deskimg.Components.Index />
</div>
