﻿@using System.Text.Json
@using Deskimg.Composition
@using Embedded = Deskimg.Blazor.Settings.Resources.Embedded

<div class="offcanvas offcanvas-start show">
    <div class="offcanvas-body p-0">
        <div class="heading">
            <ul class="nav nav-underline gap-1" role="tablist">
                <li class="nav-item" role="none">
                    <button class="nav-link @ActiveTab(0) px-2" role="tab"
                            title="@SR.Default.Sidebar.Components"
                            @onclick="@(() => TabClicked(0))">
                        @((MarkupString)Embedded.Action("wallpaper"))
                    </button>
                </li>
                <li class="nav-item" role="none">
                    <button class="nav-link @ActiveTab(1) px-2" role="tab"
                            title="@SR.Default.Sidebar.Locations"
                            @onclick="@(() => TabClicked(1))">
                        @((MarkupString)Embedded.Action("location"))
                    </button>
                </li>
                <li class="nav-item" role="none">
                    <button class="nav-link @ActiveTab(2) px-2" role="tab"
                            title="@SR.Default.Sidebar.Layout"
                            @onclick="@(() => TabClicked(2))">
                        @((MarkupString)Embedded.Action("container"))
                    </button>
                </li>
            </ul>
        </div>
        <div class="content">
            @if (_activeTab == 0) {
                string href = navigation.BackgroundPage();
                <ul class="nav flex-column ps-1" role="navigation">
                    <li class="nav-item border-bottom component background-component" role="none">
                        <a class="nav-link icon-link" href="@href/" role="link" tabindex="0">
                            <span class="vr @ActiveLink(href)"></span>
                            @((MarkupString)Embedded.Illustration("background-component"))
                            @SR.Default.ComponentString(nameof(LayoutSet.Background))
                        </a>
                    </li>
                    @if (CurrentSet?.Index is not null) {
                        for (int gridArea = 0; gridArea < CurrentSet.Index.Count; ++gridArea) {
                            var index = CurrentSet.Index[gridArea];
                            if (index.Component is not null) {
                                for (int componentIndex = 0; componentIndex < index.Component.Count; ++componentIndex) {
                                    var component = index.Component[componentIndex].FirstOrDefault();
                                    href = navigation.ComponentPage(gridArea, componentIndex);
                                    string componentIllustration = $"{component.Key.ToLower()}-component";
                                    string componentClass = componentIndex >= index.Component.Count - 1 ? "border-bottom" : string.Empty;
                                    <li class="nav-item @componentClass component @componentIllustration" role="none">
                                        <a class="nav-link icon-link" href="@href" role="link" tabindex="0">
                                            <span class="vr @ActiveLink(href)"></span>
                                            @((MarkupString)Embedded.Illustration(componentIllustration))
                                            @gridArea:@componentIndex @SR.Default.ComponentString(component.Key)
                                        </a>
                                        @if (component.Key == nameof(Components.Container) &&
                                             component.Value.TryGetValue(nameof(Components.Container.Index), out var containerIndexElement) &&
                                             JsonSerializer.Deserialize<IList<IndexType>>(containerIndexElement) is IList<IndexType> containerGrid) {
                                            <ul class="nav flex-column ps-4" role="navigation">
                                                @for (int containerGridArea = 0; containerGridArea < containerGrid.Count; ++containerGridArea) {
                                                    var containerIndex = containerGrid[containerGridArea].Component;
                                                    if (containerIndex is not null) {
                                                        for (int containerComponentIndex = 0; containerComponentIndex < containerIndex.Count; ++containerComponentIndex) {
                                                            var containerComponent = containerIndex[containerComponentIndex].FirstOrDefault();
                                                            href = navigation.ComponentPage(gridArea, componentIndex, containerGridArea, containerComponentIndex);
                                                            string containerComponentIllustration = $"{containerComponent.Key.ToLower()}-component";
                                                            string containerComponentClass = containerComponentIndex >= containerIndex.Count - 1 ? "border-bottom" : string.Empty;
                                                            <li class="nav-item @containerComponentClass component @containerComponentIllustration">
                                                                                                    <a class="nav-link icon-link" href="@href" role="link" tabindex="0">
                                                                    @((MarkupString)Embedded.Illustration(containerComponentIllustration))
                                                                    @containerGridArea:@containerComponentIndex @SR.Default.ComponentString(containerComponent.Key)
                                                                </a>
                                                            </li>
                                                        }
                                                    }
                                                }
                                            </ul>
                                        }
                                    </li>
                                }
                            }
                        }
                    }
                </ul>
            } else
            if (_activeTab == 1) {
                @if (CurrentSet is not null) {
                    <ul class="nav flex-column ps-1" role="navigation">
                        @{
                            var locations = CurrentSet.Geolocation.OrderBy(x => x.Key).ToList();
                        }
                        @for (int i = 0; i < locations.Count; ++i) {
                            var item = locations[i];
                            string href = navigation.GeopositionPage(item.Key);
                            string navItemClass = i >= locations.Count - 1 ?
                                "border-bottom" : string.Empty;
                            <li class="nav-item @navItemClass component geoposition-component" role="none">
                                <a class="nav-link icon-link" href="@href" role="link" tabindex="0">
                                    <span class="vr @ActiveLink(href)"></span>
                                    @((MarkupString)Embedded.Illustration("geoposition"))
                                    @item.Key
                                </a>
                            </li>
                        }
                        <li class="nav-item" role="none">
                            <a class="nav-link icon-link" href="@navigation.GeopositionPage()" role="link" tabindex="0">
                                <span class="vr"></span>
                                @((MarkupString)Embedded.Action("plus"))
                                @SR.Default.Modal.Add
                            </a>
                        </li>
                    </ul>
                }
            } else
            if (_activeTab == 2) {
                if (CurrentSet?.Index is not null) {
                    <div class="row mx-2">
                        @for (int i = 0; i < CurrentSet.Index.Count; ++i) {
                            string href = navigation.IndexPage(i);
                            <div class="@CurrentSet.Index[i].Class text-center @ActiveLink(href)"
                                 style="background-color: @GetIndexColor(i); outline: solid 1px var(--bs-body-bg)">
                                <a class="nav-link p-2 py-4" href="@href" role="link" tabindex="0">
                                    @i
                                </a>
                            </div>
                        }
                    </div>
                    <ul class="nav flex-column ps-1 mt-2" role="navigation">
                        <li class="nav-item" role="none">
                            <a class="nav-link icon-link" href="@navigation.IndexPage(CurrentSet.Index.Count)" role="link" tabindex="0">
                                <span class="vr"></span>
                                @((MarkupString)Embedded.Action("plus"))
                                @SR.Default.Modal.Add
                            </a>
                        </li>
                    </ul>
                }
            }
        </div>
    </div>
</div>
