﻿<div class="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    aria-expanded="@(Collapse ? "true" : "false")"
                    data-bs-target="#@_controlId"
                    aria-controls="@_controlId">
                <div class="d-flex justify-content-between w-100">
                    <div>@Label</div>
                    <div>@Value</div>
                </div>
            </button>
        </h2>
        <div id="@_controlId" class="accordion-collapse @(Collapse ? "collapse" : string.Empty)">
            <div class="accordion-body">
                @ChildContent
            </div>
        </div>
    </div>
</div>

@code {
    readonly string _controlId = $"ctr__{Guid.NewGuid():n}";

    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public object? Value { get; set; }

    [Parameter]
    public bool Collapse { get; set; } = true;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
