﻿@using Deskimg.Meteorology

@inherits ViewComponentBase<AlertSeverity>

<InputSelect class="form-select" @bind-Value="CurrentValue" @attributes="AdditionalAttributes">
    @foreach (var item in Enum.GetNames<AlertSeverity>()) {
        <option value="@item">@item</option>
    }
</InputSelect>
