﻿@using System.Net.Http.Headers

@inherits ViewComponentBase<CacheControlHeaderValue>

<Parameter_Component Label="@nameof(CacheControlHeaderValue.MaxAge)">
    <input type="time" class="form-control" style="width: 8rem"
           @bind="MaxAge">
</Parameter_Component>

@code {
    CacheControlHeaderValue? _cacheControlValue;

    CacheControlHeaderValue CacheControlValue => _cacheControlValue = _cacheControlValue ?? CurrentValue ?? new();

    void OnPropertyChanged() => CurrentValue = CacheControlValue;

    protected TimeOnly? MaxAge {
        get => TimeOnly.FromTimeSpan(CacheControlValue.MaxAge ?? TimeSpan.Zero);
        set {
            CacheControlValue.MaxAge = value is not null ? TimeSpan.FromTicks(value.Value.Ticks) : null;
            OnPropertyChanged();
        }
    }
}
