﻿@using System.Text.RegularExpressions
@using Embedded = Deskimg.Blazor.Settings.Resources.Embedded

@inherits StringSet_Component

@foreach (var item in GetCurrentValueEnumerator()) {
    <div class="input-group mb-1">
        <input class="form-control" value="@item.Title" readonly>
        <button class="btn btn-outline-secondary p-0"
                @onclick="@(() => MoveClicked(item.Id, -1))">
            @((MarkupString)Embedded.Action("arrow-up"))
        </button>
        <button class="btn btn-outline-secondary p-0"
                @onclick="@(() => MoveClicked(item.Id, 1))">
            @((MarkupString)Embedded.Action("arrow-down"))
        </button>
        <button class="btn btn-outline-danger p-2"
                title="@SR.Default.Modal.Remove"
                @onclick="@(() => RemoveClicked(item.Id))">
            @((MarkupString)Embedded.Action("trash"))
        </button>
    </div>
}
<div class="input-group mb-1">
    @if (DataMap is not null) {
        <datalist id="@_dataListId">
            @foreach (var item in DataMap.OrderBy(x => x.Value)) {
                <option value="@item.Value (@item.Key)"></option>
            }
        </datalist>
    }
    <input class="form-control" autocomplete="off" spellcheck="false"
           @bind="@BindValue"
           list="@_dataListId">
    <button class="btn btn-outline-success p-2"
            title="@SR.Default.Modal.Add"
            @onclick="AddClicked">
        @((MarkupString)Embedded.Action("plus"))
    </button>
</div>

@code {
    readonly string _dataListId = $"lst__{Guid.NewGuid():n}";

    [Parameter]
    public IDictionary<string, string>? DataMap { get; set; }

    // NOTE: order by the position within the tag string
    IEnumerable<(string Id, string Title)> GetCurrentValueEnumerator() {
        if (CurrentValue is not null && DataMap is not null) {
            foreach (var tag in CurrentValue) {
                string[] segments = tag.Split('?', ',');
                if (segments.Length > 1) {
                    for (int i = 1; i < segments.Length; ++i) {
                        string key = $"{segments[0]}?{segments[i]}";
                        if (DataMap.TryGetValue(key, out var value)) {
                            yield return (key, value);
                        }
                    }
                }
            }
        }
    }

    protected override void AddClicked() {
        Match keyValue = Regex.Match(BindValue ?? string.Empty, @"\(([\w\.]+)\?(\w+)\)$");
        if (keyValue.Success) {
            var provider = keyValue.Groups[1].Value;
            var identity = keyValue.Groups[2].Value;

            // always copy, commits with the setter
            var copy = CurrentValue;
            if (copy is null) {
                copy = new List<string>();
            }

            if (copy.FirstOrDefault(x => x.StartsWith(provider, StringComparison.OrdinalIgnoreCase)) is string item) {
    
                // if CurrentValue contains the input item, append input to this item
                var providerQuery = item.Split('?', ',').ToList();
                if (!providerQuery.Contains(identity)) {
                    providerQuery.Add(identity);

                    int index = copy.IndexOf(item);
                    copy[index] = string.Concat(providerQuery[0], '?', string.Join(',', providerQuery[1..]));
                    CurrentValue = copy;
                }
            } else {

                // otherwise add BindValue to CurrentValue
                copy.Add(string.Concat(provider, '?', identity));
                CurrentValue = copy;
            }

            // clear this iteration
            BindValue = null;
        }
    }

    protected override void RemoveClicked(string remove) {
        ArgumentNullException.ThrowIfNull(CurrentValue);
        string[] keyValue = remove.Split('?');
        ArgumentOutOfRangeException.ThrowIfLessThan(keyValue.Length, 2);
        var provider = keyValue[0];
        var identity = keyValue[1];

        // always copy, commits with the setter
        var copy = CurrentValue;
        if (copy.FirstOrDefault(x => x.StartsWith(provider, StringComparison.OrdinalIgnoreCase)) is string item) {

            // if CurrentValue contains the input item, remove this item
            var providerQuery = item.Split('?', ',').ToList();
            var removeIndex = providerQuery.IndexOf(identity);
            ArgumentOutOfRangeException.ThrowIfLessThan(removeIndex, 1);

            providerQuery.RemoveAt(removeIndex);
            int index = copy.IndexOf(item);

            // remove the providerQuery item or remove the provider entry if all query identities has been removed
            if (providerQuery.Count > 1) {
                copy[index] = string.Concat(providerQuery[0], '?', string.Join(',', providerQuery[1..]));
                CurrentValue = copy;
            } else {
                copy.RemoveAt(index);
                CurrentValue = copy;
            }
        }
    }

    void MoveClicked(string move, int direction) {
        ArgumentNullException.ThrowIfNull(CurrentValue);
        string[] keyValue = move.Split('?');
        ArgumentOutOfRangeException.ThrowIfLessThan(keyValue.Length, 2);
        var provider = keyValue[0];
        var identity = keyValue[1];

        // always copy, commits with the setter
        var copy = CurrentValue;
        if (copy.FirstOrDefault(x => x.StartsWith(provider, StringComparison.OrdinalIgnoreCase)) is string item) {
            var providerQuery = item.Split('?', ',').ToList();

            // find source and destination index
            int srcIndex = providerQuery.IndexOf(keyValue[1], 1);
            ArgumentOutOfRangeException.ThrowIfLessThan(srcIndex, 1);
            int dstIndex = srcIndex + direction;
            if (dstIndex < 1 || dstIndex >= providerQuery.Count) {
                // silently ignore out of range movements
                return;
            }

            // swap source and destination
            (providerQuery[srcIndex], providerQuery[dstIndex]) = (providerQuery[dstIndex], providerQuery[srcIndex]);

            int index = copy.IndexOf(item);
            copy[index] = string.Concat(providerQuery[0], '?', string.Join(',', providerQuery[1..]));
            CurrentValue = copy;
        }
    }
}
