﻿@inherits ViewComponentBase<HatchPattern>

<InputSelect class="form-select" @bind-Value="CurrentValue" @attributes="AdditionalAttributes">
    @foreach (var item in Enum.GetNames<HatchPattern>()) {
        <option value="@item">@item</option>
    }
</InputSelect>
