﻿@using Embedded = Deskimg.Blazor.Settings.Resources.Embedded

<div class="heading">
    <div class="d-flex icon-link justify-content-between">
        <span class="fs-5 fw-semibold" role="heading">
            @Heading
        </span>
        @if (MoveClicked is not null || RemoveClicked is not null) {
            <button class="btn btn-sm btn-outline dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                @((MarkupString)Embedded.Action("menu"))
                <ul class="dropdown-menu">
                    @if (MoveClicked is not null) {
                        <li>
                            <button class="dropdown-item icon-link"
                                    @onclick="@(() => MoveClicked(-1))">
                                @((MarkupString)Embedded.Action("arrow-up"))
                                @SR.Default.Modal.MoveUp
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item icon-link"
                                    @onclick="@(() => MoveClicked(1))">
                                @((MarkupString)Embedded.Action("arrow-down"))
                                @SR.Default.Modal.MoveDown
                            </button>
                        </li>
                    }
                    @if (RemoveClicked is not null) {
                        <li>
                            <button class="dropdown-item icon-link"
                                    @onclick="RemoveClicked">
                                @((MarkupString)Embedded.Action("trash"))
                                @SR.Default.Modal.Remove
                            </button>
                        </li>
                    }
                </ul>
            </button>
        }
    </div>
</div>

@code {
    [Parameter]
    public required string Heading { get; set; }

    [Parameter]
    public Action<int>? MoveClicked { get; set; }

    [Parameter]
    public Action? RemoveClicked { get; set; }
}
