﻿@using Deskimg.Components

@inherits ViewComponentBase<ImageStyle>

<Parameter_Component Label="@nameof(ImageStyle.Theme)">
    <InputText class="form-control" @bind-Value="Theme" />
</Parameter_Component>
<Parameter_Component Label="@nameof(ImageStyle.Width)">
    <InputText class="form-control" @bind-Value="Width" />
</Parameter_Component>
<Parameter_Component Label="@nameof(ImageStyle.Height)">
    <InputText class="form-control" @bind-Value="Height" />
</Parameter_Component>

@code {
    ImageStyle? _internalValue;

    protected ImageStyle InternalValue => _internalValue = _internalValue ?? CurrentValue ?? new();

    void OnPropertyChanged() => CurrentValue = InternalValue;

    protected string Theme {
        get => InternalValue.Theme;
        set {
            InternalValue.Theme = value;
            OnPropertyChanged();
        }
    }

    protected string Width {
        get => InternalValue.Width;
        set {
            InternalValue.Width = value;
            OnPropertyChanged();
        }
    }

    protected string Height {
        get => InternalValue.Height;
        set {
            InternalValue.Height = value;
            OnPropertyChanged();
        }
    }
}
