﻿@inherits ViewComponentBase<string>

<div>
    @if (DataList is not null) {
        <datalist id="@_dataListId">
            @foreach (var item in DataList) {
                <option value="@item"></option>
            }
        </datalist>
    }
    <InputText class="form-control" @attributes="AdditionalAttributes"
               @bind-Value="CurrentValue"
               list="@_dataListId" />
</div>

@code {
    readonly string _dataListId = $"lst__{Guid.NewGuid():n}";

    [Parameter]
    public IEnumerable<string>? DataList { get; set; }
}
