﻿@inherits ViewComponentBase<TimeSpan>

<div>
    <input type="time" class="form-control" style="width: 8rem" @attributes="AdditionalAttributes"
           @bind="DateTimeValue" min="0" step="1" />
</div>

@code {
    DateTime DateTimeValue {
        get {
            Console.WriteLine("***: {0}", CurrentValue);
            return DateTime.Now.Date.Add(CurrentValue);
        }
        set {
            CurrentValue = TimeOnly.FromDateTime(value).ToTimeSpan();
        }
    }
}
