﻿@inherits ViewComponentBase<bool>

<div class="form-check form-switch">
    <InputCheckbox role="switch" class="form-check-input" @attributes="AdditionalAttributes"
                   @bind-Value="CurrentValue" />
</div>
