﻿<div class="row parameter">
    <div class="col-md-4" style="max-width: 10rem">
        <label class="col-form-label">@SR.Default.LabelString(Label)</label>
    </div>
    <div class="col-md">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
