﻿@using Embedded = Deskimg.Blazor.Settings.Resources.Embedded

@inherits ViewComponentBase<IList<string>>

@if (CurrentValue is not null) {
    foreach (var item in CurrentValue.OrderBy(x => x)) {
        <div class="input-group mb-1">
            <input class="form-control" readonly
                   value="@item" />
            <button class="btn btn-outline-danger p-2"
                    title="@SR.Default.Modal.Remove"
                    @onclick="@(() => RemoveClicked(item))">
                @((MarkupString)Embedded.Action("trash"))
            </button>
        </div>
    }
}
<div class="input-group mb-1">
    @if (DataList is not null) {
        <datalist id="@_dataListId">
            @foreach (var item in DataList) {
                if (!CurrentValue?.Contains(item) ?? true) {
                    <option value="@item"></option>
                }
            }
        </datalist>
    }
    <InputText class="form-control"
               @bind-Value="BindValue"
               list="@_dataListId" />
    <button class="btn btn-outline-success p-2"
            title="@SR.Default.Modal.Add"
            @onclick="AddClicked">
        @((MarkupString)Embedded.Action("plus"))
    </button>
</div>

@code {
    readonly string _dataListId = $"lst__{Guid.NewGuid():n}";

    protected string? BindValue { get; set; }

    protected virtual void AddClicked() {
        if (!string.IsNullOrWhiteSpace(BindValue) &&
            CurrentValue is not null &&
            !CurrentValue.Contains(BindValue)) {

            // always copy, commits with the setter
            var copy = CurrentValue;
            if (copy is null) {
                copy = new List<string>();
            }

            copy.Add(BindValue);
            CurrentValue = copy;

            // clear this iteration
            BindValue = null;
        }
    }

    protected virtual void RemoveClicked(string item) {
        if (CurrentValue is not null && CurrentValue.Contains(item)) {

            // always copy, commits with the setter
            var copy = CurrentValue;
            copy.Remove(item);
            CurrentValue = copy;
        }
    }

    [Parameter]
    public IEnumerable<string>? DataList { get; set; }
}
