﻿@using Embedded = Deskimg.Blazor.Settings.Resources.Embedded

@inherits ViewComponentBase<List<string>>

@foreach (var item in _dataList) {
    string id = $"ctrl__{Guid.NewGuid():n}";
    bool checkedState = CurrentValue?.Contains(item) ?? false;
    <div class="input-group mb-1">
        <div class="form-check form-control">
            <input id="@id" class="form-check-input ms-0" type="checkbox"
                   value="@item" checked="@checkedState"
                   @onchange="@(e => CheckChanged(e, item))" />
            <label class="form-check-label ms-2" for="@id">
                @item
            </label>
        </div>
        @if (Movable) {
            <button class="btn btn-outline-secondary p-0"
                    @onclick="@(() => MoveClicked(item, -1))">
                @((MarkupString)Embedded.Action("arrow-up"))
            </button>
            <button class="btn btn-outline-secondary p-0"
                    @onclick="@(() => MoveClicked(item, 1))">
                @((MarkupString)Embedded.Action("arrow-down"))
            </button>
        }
    </div>
}

@code {
    List<string> _dataList = [];

    protected override void OnParametersSet() {

        // cast or create a List<T> from DataList
        if (DataList is List<string> dataList) {
            _dataList = dataList;
        } else
        if (DataList is not null) {
            _dataList = DataList.ToList();
        }

        // sort _dataList relative to CurrenValue
        if (CurrentValue is not null) {
            _dataList.Sort(new DataListComparer<string>(CurrentValue));
        }
    }

    protected virtual void CheckChanged(ChangeEventArgs e, string item) {

        // always copy, commits with the setter
        var copy = CurrentValue;
        if (copy is null) {
            copy = new List<string>();
        }

        if (e.Value is bool checkedState) {

            // item is in checked state, try add it to the collection and sort relative to _dataList
            if (checkedState && !copy.Contains(item)) {
                copy.Add(item);
                copy.Sort(new DataListComparer<string>(_dataList));
                CurrentValue = copy;

            // value is in unchecked state, try remove it from the collection 
            } else if (copy.Contains(item)) {
                copy.Remove(item);
                CurrentValue = copy;
            }
        }
    }

    void MoveClicked(string item, int direction) {

        // try swap the _dataList items
        int oldIndex = _dataList.IndexOf(item);
        int newIndex = oldIndex + direction;
        if (oldIndex >= 0 && newIndex >= 0 && oldIndex < _dataList.Count && newIndex < _dataList.Count) {
            (_dataList[newIndex], _dataList[oldIndex]) = (_dataList[oldIndex], _dataList[newIndex]);
        }

        // sort the layout set by _dataList ordering
        if (CurrentValue is not null) {
            // always copy, commits with the setter
            var copy = CurrentValue;
            copy.Sort(new DataListComparer<string>(_dataList));
            CurrentValue = copy;
        }
    }

    [Parameter]
    public IEnumerable<string>? DataList { get; set; }

    [Parameter]
    public bool Movable { get; set; }
}
