﻿@using Embedded = Deskimg.Blazor.Settings.Resources.Embedded

@inherits ViewComponentBase<IDictionary<string, string>>

@if (CurrentValue is not null) {
    foreach (var item in CurrentValue.OrderBy(x => x.Key)) {
        <div class="input-group mb-1">
            <input class="form-control" readonly
                   value="@item.Key" />
            <input class="form-control" readonly
                   value="@item.Value" />
            <button class="btn btn-outline-danger p-2"
                    title="@SR.Default.Modal.Remove"
                    @onclick="@(() => RemoveClicked(item.Key))">
                @((MarkupString)Embedded.Action("trash"))
            </button>
        </div>
    }
}
<div class="input-group mb-1">
    @if (DataList is not null) {
        <datalist id="@_keyDataListId">
            @foreach (var item in DataList) {
                <option value="@item.Key"></option>
            }
        </datalist>
        @if (DataList.TryGetValue(BindKey ?? string.Empty, out var valuesList)) {
            if (valuesList is not null) {
                <datalist id="@_valueDataListId">
                    @foreach (var item in valuesList) {
                        <option value="@item"></option>
                    }
                </datalist>
            }
        }
    }
    <InputText class="form-control"
               @bind-Value="BindKey"
               list="@_keyDataListId" />
    <InputText class="form-control"
               @bind-Value="BindValue"
               list="@_valueDataListId" />
    <button class="btn btn-outline-success p-2"
            title="@SR.Default.Modal.Add"
            @onclick="AddClicked">
        @((MarkupString)Embedded.Action("plus"))
    </button>
</div>

@code {
    readonly string _keyDataListId = $"lst__{Guid.NewGuid():n}";

    readonly string _valueDataListId = $"lst__{Guid.NewGuid():n}";

    protected string? BindKey { get; set; }

    protected string? BindValue { get; set; }

    protected virtual void AddClicked() {

        // ensure current value is not null
        var currentValue = CurrentValue;
        if (currentValue is null) {
            currentValue = new Dictionary<string, string>();
        }

        if (!string.IsNullOrWhiteSpace(BindKey) &&
            !string.IsNullOrWhiteSpace(BindValue) &&
            !currentValue.ContainsKey(BindKey)) {

            // create a copy of the current value, and set current value to trigger the serializer
            var copy = currentValue;
            copy[BindKey] = BindValue;
            CurrentValue = copy;

            // clear the new value input elements
            BindKey = null;
            BindValue = null;
        }
    }

    protected virtual void RemoveClicked(string key) {
        if (CurrentValue is not null && CurrentValue.ContainsKey(key)) {

            // create a copy of the current value, and set current value to trigger the serializer
            var copy = CurrentValue;
            copy.Remove(key);
            CurrentValue = copy;
        }
    }

    [Parameter]
    public IDictionary<string, string[]?>? DataList { get; set; }
}
