﻿@using Deskimg.Meteorology

@if (Visible && ViewData is not null) {

    <div class="component alert-component" style="@Style?.ToStyleString()">
        @foreach (var item in ViewData.OrderByDescending(x => x.Severity)) {
            string collapse = $"wrn__{Guid.NewGuid():n}";
            string severity = item.Severity.ToString().ToLowerInvariant();
            string symbol = item.Severity switch {
                AlertSeverity.Extreme => AlertKind.Extreme.ToString().ToLowerInvariant(),
                _ => item.Kind.ToString().ToLowerInvariant() + "-" + severity
            };

            string id = item.Message.Id;
            string? title = item.Message.Title;
            string? icon = linkOptions.Value.GetWarningSymbol(Theme, symbol);
            if (item.Severity >= Notify) {
                AddNotification(id, title, icon);
            }

            <div class="item bg-severity-@severity">
                <button class="btn btn-link shadowed" data-bs-toggle="collapse"
                        data-bs-target=".@collapse">
                    <div class="icon-link">
                        @if (!string.IsNullOrWhiteSpace(icon)) {
                            <img class="enclosure" src="@icon">
                        }
                        @if (!string.IsNullOrWhiteSpace(title)) {
                            @title
                        }
                    </div>
                </button>
                <div class="@collapse collapse">
                    <div class="summary shadowed">
                        <div>
                            <time datetime="@item.ValidFrom.ToUniversalTime().ToString("u")">
                                @item.ValidFrom.ToString("d")
                            </time>
                        </div>
                        <div>
                            @item.Message.Summary
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
