.item {
  margin-bottom: .25rem;
}

.btn-link {
  color: inherit;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.enclosure {
  margin: .25rem .25rem;
  max-width: 2em;
  vertical-align: text-bottom;
}

.summary {
  padding-left: var(--indent);
  margin-top: .25rem;
}

time {
  font-size: smaller;
}