.btn-link {
  color: inherit;
  padding: 0;
  text-align: left;
  text-decoration: none;
  line-height: var(--bs-body-line-height);
  margin-bottom: .5rem;
  width: 100%;
}

.collapse {
  height: calc(var(--font-size) * 3);
  overflow-y: hidden;
}

.collapse:not(.show) {
  display: inherit;
  height: auto;
}

.collapsing {
  height: 2.5rem;
  transition: none;
}

.enclosure {
  float: right;
  margin-top: .25rem;
  margin-left: .25rem;
  max-width: 50%;
  max-height: 2rem;
}

time {
  margin-right: .5rem;
}

.title {
  font-weight: 600;
  text-indent: calc(var(--indent) * -1);
  padding-left: var(--indent);
}

.summary {
  padding-left: var(--indent);
}
