﻿@if (Visible && ViewData is not null) {
    <div class="component atom-component" style="@Style?.ToStyleString()">
        @foreach (var item in Filter(ViewData)) {
            string collapse = $"rss__{Guid.NewGuid():n}";
            <button class="btn btn-link shadowed @Class" data-bs-toggle="collapse"
                    data-bs-target=".@collapse">
                <div class="@collapse collapse show">
                    @if (!string.IsNullOrWhiteSpace(item.Enclosure)) {
                        <img class="enclosure" src="@endpoint.Fetch(item.Enclosure, apiKey: true)">
                    }
                    <div class="title">
                        @if (item.Published is not null) {
                            var localTime = item.Published?.ToLocalTime();
                            <time datetime="@localTime?.ToString("u", CultureInfo.CurrentCulture)"
                                  title="@localTime?.ToString("g", CultureInfo.CurrentCulture)">
                                @localTime?.ToString("t", CultureInfo.CurrentCulture)
                                <sub>@localTime?.GetRelativeDays()</sub>
                            </time>
                        }
                        @item.Title
                    </div>
                    <div class="summary">
                        @item.Summary
                        @if (!string.IsNullOrEmpty(item.Link)) {
                            <a class="icon-link ms-1" href="#" tabindex="-1"
                               @onclick="@(() => ItemClicked(item))" @onclick:preventDefault="true">
                                @((MarkupString)Embedded.Action("external-link"))
                            </a>
                        }
                    </div>
                </div>
            </button>
            }
    </div>
}
