﻿@if (Visible && Source is not null) {
    <div class="audio-component component">
        <figure>
            <figcaption>@Title</figcaption>
            <audio autoplay="@AutoPlay" loop="@Loop" controls>
                <source src="@Source" type="@Type" media="@Media" />
            </audio>
        </figure>
    </div>
}
