﻿@using System.Xml

@foreach (var item in ViewData ?? []) {
    if (item.Type?.StartsWith("video", StringComparison.OrdinalIgnoreCase) ?? false) {
        <video class="background-item"
               autoplay="autoplay" loop="loop" playsinline="playsinline" muted="muted">
            <source src="@item.Source" type="@item.Type" media="@item.Media" />
        </video>
    } else {
        <picture>
            <source srcset="@item.Source" type="@item.Type" media="@item.Media" />
            <img class="background-item"
                 src="@item.Source"
                 style="opacity: @(XmlConvert.ToString(item.Opacity ?? 1.0))" />
        </picture>
    }
}
@if (session.BackgroundRendering == RenderingMode.Dom && !string.IsNullOrEmpty(OverlayBlob)) {
    <div class="background-item" style="background-image: url(@OverlayBlob)"></div>
}
