.text-holiday {
  color: rgba(var(--bs-danger-rgb), var(--opaque)) !important;
  font-weight: 600;
}

.yearmonth {
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.now {
  background: no-repeat linear-gradient(to right, rgba(var(--bs-emphasis-color-rgb) , var(--semi-transparent)), rgba(var(--bs-emphasis-color-rgb), var(--semi-transparent)));
}

.daydate {
  text-transform: uppercase;
}

.events {
  padding-left: .5rem;
}

.week {
  display: inline-block;
  background: rgba(255, 255, 255, var(--semi-opaque));
  border: solid 1px black;
  border-radius: 4px;
  color: rgba(0, 0, 0, var(--opaque));
  font-weight: 500;
  padding: 0 2pt;
  text-shadow: none;
}

.attachment img {
  height: var(--font-size);
}
