﻿@using NodaTime
@using NodaTime.Calendars
@using Deskimg.Calendar

@if (Visible) {
    <div class="component calendar-component" style="@Style?.ToStyleString()">
        <table class="table">
            <tbody>
                @{
                    var toiStart = ZonedDateTime.FromDateTimeOffset(session.Toi);
                    int previousMonth = DisplayTitle ? 0 : toiStart.Month;
                    int previousWeek = 0;
                    DateTime date = session.Toi.Date;
                    double toiPercent = ((session.Toi - date).TotalSeconds / TimeSpan.FromDays(1).TotalSeconds) * 100.0;
                }
                @for (var i = 0; i < Take; ++i) {
                    LocalDate localDate = toiStart.Plus(Duration.FromDays(i)).LocalDateTime.Date;
                    int week = WeekYearRules.Iso.GetWeekOfWeekYear(localDate);
                    string bgClass = date == localDate.ToDateTimeUnspecified() ? "now" : string.Empty;
                    string bgStyle = $"background-size: {toiPercent.ToString("F0", CultureInfo.InvariantCulture)}%";

                    var vevents = ViewData is null ?
                        [] :
                        ViewData.Where(item => item.When.Date == localDate.ToDateTimeUnspecified());

                    bool isHoliday = vevents
                        .Select(item => item.Event.Categories)
                        .SelectMany(item => item)
                        .OfType<Category>()
                        .Any(item => item == Category.Holiday);
                    string holidayClass = isHoliday ? "text-holiday" : string.Empty;
                    @if (localDate.Month != previousMonth) {
                        <tr>
                            <td class="yearmonth shadowed" colspan="4">
                                <time datetime="@localDate.ToString("yyyy-MM", CultureInfo.InvariantCulture)">
                                    @localDate.ToString(CultureInfo.CurrentCulture.DateTimeFormat.YearMonthPattern, CultureInfo.CurrentCulture)
                                </time>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td class="daydate text-nowrap shadowed @bgClass @holidayClass">
                            <span>@CultureInfo.CurrentCulture.DateTimeFormat.ShortestDayNames[(int)localDate.DayOfWeek % 7]</span>
                            <span class="ms-1">@localDate.Day</span>
                        </td>
                        <td class="events shadowed @bgClass" style="@bgStyle;width:100%">
                            @if (week != previousWeek) {
                                string weekDisplay = MessageFormatter.Format(SR.Default.WeekNumberFormat, new {
                                    WeekNumber = week
                                });
                                <div class="week" title="@weekDisplay">@week</div>
                            }
                            @foreach (var item in vevents) {
                                if (item.Event.Classification != AccessClassification.Public) {
                                    continue;
                                }

                                var categories = item.Event.Categories.OfType<Category>();
                                string summaryClass = categories.Contains(Category.Holiday) ? "text-holiday" : string.Empty;

                                <div>
                                    <div class="attachment d-flex flex-row">
                                        @foreach (string name in item.Event.Attachment) {
                                            <div class="me-2">
                                                @if (categories.Contains(Category.Observance)) {
                                                    <img src="@linkOptions.Value.GetStatusImage(name)" alt="@name">
                                                } else
                                                @if (categories.Contains(Category.FlagDay)) {
                                                    <img src="@linkOptions.Value.GetIntlImage(name)" alt="@name">
                                                } else {
                                                    <img src="@name" alt="@name">
                                                }
                                            </div>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(item.Event.Summary)) {
                                            <div class="@summaryClass shadowed">
                                                @item.Event.Summary
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </td>
                    </tr>
                    previousMonth = localDate.Month;
                    previousWeek = week;
                }
            </tbody>
        </table>
    </div>
}
