﻿@if (ViewData is not null && Index is not null) {
    <div class="container-component row" style="@Style?.ToStyleString()">
        @foreach (var indexItem in Index) {
            if (indexItem is not null) {
                <div class="@indexItem.Class">
                    @if (indexItem.Component is not null) {
                        @foreach (var componentDictionary in indexItem.Component) {
                            @foreach (var componentKey in componentDictionary) {
                                if (ViewData.TryGetValue(componentKey, out var component)) {
                                    <article>
                                        <DynamicComponent Type="@component.ImplementorType"
                                                          Parameters="@component.Parameters" />
                                    </article>
                                }
                            }
                        }
                    }
                </div>
            }
        }
    </div>
}
