rect.item, rect.header {
  stroke: rgba(204, 204, 204, 0.0873);
  fill: transparent;
}

div.header {
  font-size: smaller;
}

.toi {
  width: .5px;
  stroke: var(--bs-danger-text-emphasis);
  stroke-dasharray: 2;
}