﻿@using System.Globalization
@using System.Xml

@inherits Epg

@inject SessionService session
@inject EndpointOptions endpoint

@{
    string clipId = $"clip__{Guid.NewGuid():n}";

    void Cell(Rect rect, string? text, string? cssClass = "item") {
        if (rect.Width > CellPadding.Left + CellPadding.Right &&
            rect.Height > CellPadding.Top + CellPadding.Bottom) {
            <g clip-path="url(#@clipId)">
                <rect class="@cssClass"
                      x="@XmlConvert.ToString(rect.X)"
                      y="@XmlConvert.ToString(rect.Y)"
                      width="@XmlConvert.ToString(rect.Width)"
                      height="@XmlConvert.ToString(rect.Height)" />
                <foreignObject x="@XmlConvert.ToString(rect.X + CellPadding.Left)"
                               y="@XmlConvert.ToString(rect.Y + CellPadding.Top)"
                               width="@XmlConvert.ToString(rect.Width - CellPadding.Left - CellPadding.Right)"
                               height="@XmlConvert.ToString(rect.Height - CellPadding.Top - CellPadding.Bottom)">
                    <h:div class="@cssClass shadowed">
                        @text
                    </h:div>
                </foreignObject>
            </g>
        }
    }

    void RenderHeader() {
        Rect rect = new() {
            Y = 0,
            Height = Origin.Y
        };

        <g transform="translate(@XmlConvert.ToString(Origin.X) 0)">
            @for (DateTimeOffset when = StartTime; when < EndTime; when = when.Add(TimeUnit)) {
                Move(rect, when, TimeUnit);
                Cell(rect, when.ToString("t", CultureInfo.CurrentCulture), "header");
            }
        </g>
    }

    void RenderContent() {
        Rect rect = new() {
            Y = Origin.Y,
            Height = Origin.Y * 2
        };

        foreach (var grouping in ViewData) {
            @if (EmbeddedResourceNames is not null && EmbeddedResourceNames.Contains($"Deskimg.Resources.Epg.{grouping.Key.Id}.svg")) {
                <g transform="translate(@XmlConvert.ToString(IconPadding.Left) @XmlConvert.ToString(rect.Y + IconPadding.Top))">
                    @((MarkupString)Embedded.Epg(grouping.Key.Id))
                </g>
            } else {
                var imageUri = grouping.Key.GetImageUri(minWidth: 300);
                if (imageUri is not null) {
                    <image href="@endpoint.Fetch(imageUri.AbsoluteUri, apiKey: true)"
                           preserveAspectRatio="xMidYMid"
                           x="@XmlConvert.ToString(IconPadding.Left)"
                           y="@XmlConvert.ToString(rect.Y + IconPadding.Top)"
                           width="@XmlConvert.ToString(Origin.X - IconPadding.Left - IconPadding.Right)"
                           height="@XmlConvert.ToString(rect.Height - IconPadding.Top - IconPadding.Bottom)" />
                }
            }
            <g transform="translate(@XmlConvert.ToString(Origin.X) 0)">
                @foreach (var item in Filter(grouping)) {
                    Move(rect, item);
                    if (rect.Width > 0) {
                        Cell(rect, item.Event.Summary);
                    }
                }
            </g>

            rect.Y += rect.Height;
        }

        Move(rect, session.Toi.AddSeconds(1), TimeUnit);
        <g transform="translate(@XmlConvert.ToString(Origin.X) 0)">
            <line class="toi"
                  x1="@XmlConvert.ToString(rect.X)"
                  y1="0"
                  x2="@XmlConvert.ToString(rect.X)"
                  y2="@XmlConvert.ToString(rect.Y)" />
        </g>

        Move(rect, EndTime, TimeUnit);
        <clipPath id="@clipId">
            <rect x="0"
                  y="0"
                  width="@XmlConvert.ToString(rect.X)"
                  height="@XmlConvert.ToString(rect.Y)" />
        </clipPath>
    }
}

@if (Visible && ViewData is not null) {
    <div class="component epgh-component">
        <svg width="100%"
             height="@XmlConvert.ToString(Origin.Y + (ViewData.Count * (Origin.Y * 2)))"
             xmlns:h="http://www.w3.org/1999/xhtml"
             xmlns="http://www.w3.org/2000/svg">
        @{
            RenderHeader();
            RenderContent();
        }
        </svg>
    </div>
}
