.channel {
  padding: .25rem;
}

.channel img {
  height: 1.625em;
}

.programmes .item:last-child {
  margin-bottom: .25rem;
}

.btn-link {
  color: inherit;
  padding: 0;
  text-align: left;
  max-width: 100%;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
}

.enclosure {
  float: right;
  margin-top: .25rem;
  margin-left: .25rem;
  max-height: 3rem;
}

time {
  margin-right: .5rem;
}

.summary {
  padding-left: var(--indent);
  overflow-wrap: break-word;
}

.category {
  padding-top: .25rem;
}

.category kbd {
  margin-right: .25rem;
}
