﻿@inherits Epg

@inject SessionService session
@inject EndpointOptions endpoint

@if (Visible && ViewData is not null) {
    <div class="component epgv-component">
        @foreach (var grouping in ViewData) {
            <div class="channel shadowed">
                <div class="icon">
                    @if (EmbeddedResourceNames is not null && EmbeddedResourceNames.Contains($"Deskimg.Resources.Epg.{grouping.Key.Id}.svg")) {
                        @((MarkupString)Embedded.Epg(grouping.Key.Id))
                    } else {
                        var imageUri = grouping.Key.GetImageUri(minWidth: 300);
                        if (imageUri is not null) {
                            <img src="@endpoint.Fetch(imageUri.AbsoluteUri, apiKey: true)">
                        } else {
                            @grouping.Key.Title
                        }
                    }
                </div>
                @foreach (var item in Filter(grouping)) {
                    var localTime = item.When.ToLocalTime();
                    string collapse = $"epg__{Guid.NewGuid():n}";
                    <div class="item">
                        <button class="btn btn-link shadowed" data-bs-toggle="collapse"
                                data-bs-target=".@collapse"
                                @onclick="CollapseClicked">
                            <div class="title">
                                <time datetime="@localTime.ToString("u", CultureInfo.CurrentCulture)">
                                    @localTime.ToString("t", CultureInfo.CurrentCulture)
                                    <sub>@localTime.GetRelativeDays()</sub>
                                </time>
                                @if (item.Event.Duration is not null) {
                                    var end = localTime.Add(item.Event.Duration ?? TimeSpan.Zero);
                                    <span class="@collapse collapse">
                                        <span class="mx-1">-</span>
                                        <time datetime="@end.ToString("u", CultureInfo.CurrentCulture)">
                                            @end.ToString("t", CultureInfo.CurrentCulture)
                                            <sub>@end.GetRelativeDays()</sub>
                                        </time>
                                    </span>
                                }
                                <span>
                                    @item.Event.Summary
                                </span>
                            </div>
                        </button>
                        <div class="@collapse collapse">
                            @if (_showImages) {
                                foreach (var attachment in item.Event.Attachment) {
                                    <img class="enclosure" src="@endpoint.Fetch(attachment, apiKey: true)">
                                }
                            }
                            <div class="summary shadowed">
                                @item.Event.Description
                                @if (item.Event.Categories.FirstOrDefault() is not null) {
                                    <p class="category">
                                        @foreach (var category in item.Event.Categories) {
                                            <kbd>@category</kbd>
                                        }
                                    </p>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
}
