﻿<div class="index-component">
    @if (CurrentSet?.Background is not null) {
        <Background Theme="@CurrentSet.Background.Theme"
                    Overlay="@CurrentSet.Background.Overlay"
                    Composite="@CurrentSet.Background.Composite" />
    }

    @if (CurrentSet?.Index is not null) {
        <div class="index-content">
            <Container Index="@CurrentSet.Index" />
        </div>
    }
</div>
