﻿@using Deskimg.Ephemeris

@{
    // NOTE: false positive, ViewData is not null
    // Microsoft (R) Visual C# Compiler version 4.8.0-3.23524.11
    #pragma warning disable CS8602
}
@if (Visible && ViewData is not null) {

    @if (DisplayTitle) {
        <div class="title shadowed">
            @ViewData?.Title
        </div>
    }

    <div class="component location-component" style="@Style?.ToStyleString()">
        @foreach (var rowdata in ViewData?.Data) {
            string collapse = $"loc__{rowdata.GetHashCode().ToString("x")}";
            string chart = $"{collapse}__collapse";
            <div class="d-flex flex-row align-items-center">
                @foreach (var item in rowdata) {
                    IEnumerable<AltitudeItem>? details = item.Event.Categories.OfType<ICollection<AltitudeItem>>().FirstOrDefault();
                    string dataToggle = details is null ? string.Empty : "collapse";
                    string? eventIcon = item.Event.Attachment.First();
                    <button class="btn btn-link icon-link w-50 shadowed" data-bs-toggle="@dataToggle"
                            data-bs-target="#@collapse"
                            @onclick="() => DetailsClicked(chart, details)">
                        @((MarkupString)Embedded.Status(eventIcon))
                        @if (!string.IsNullOrEmpty(item.Event.Summary)) {
                            var localTime = item.When.ToLocalTime();
                             <time datetime="@localTime.ToString("u", CultureInfo.CurrentCulture)">
                                @localTime.ToString("t", CultureInfo.CurrentCulture)
                                <sub>@localTime.GetRelativeDays()</sub>
                            </time>
                        }
                    </button>
                }
            </div>
            <div id="@collapse" class="chart collapse">
                <div id="@chart" style="height: 6rem"></div>
            </div>
        }
    </div>
}
