.IObservationProvider {
  background-color: rgba(0, 255, 144, var(--transparent));
}

.IForecastProvider {
  --background-color: rgba(255, 144, 0, var(--semi-transparent));
}

.table {
  margin: 0;
}

.table td {
  padding: 0;
}

.location {
  font-size: .6rem;
  font-weight: bold;
  text-align: center;
}

.when {
  font-size: .5rem;
  text-align: center;
}

.temperature {
  font-size: larger;
  text-align: center;
  white-space: nowrap;
}

.conditionImage {
  text-align: center;
  padding-top: .25rem!important;
}

.conditionImage .bg-severity-green,
.conditionImage .bg-severity-yellow,
.conditionImage .bg-severity-orange,
.conditionImage .bg-severity-red,
.conditionImage .bg-severity-extreme {
  margin: 0 1px;
}

.precipitation {
  font-size: smaller;
  text-align: center;
}

.windImage {
  font-size: smaller;
  text-align: center;
  padding-top: .25rem!important;
}

.windSpeed {
  font-size: smaller;
  text-align: center;
  white-space: nowrap;
}
