﻿@using System.Text
@using Deskimg.Meteorology

@if (Visible && ViewData is not null) {
    <div class="component meteorology-component" style="@Style?.ToStyleString()">
        <table class="table table-sm">
            <thead>
                @if (DisplayTitle) {
                    <tr>
                        @{
                            // NOTE: Distinct can't guarantee ordering.
                            //       However <see cref="MeteorologyTests"/> should catch any runtime changes.
                            var tableCols = (
                            from item in ViewData
                            select new {
                                Text = item.Location,
                                Span = ViewData.Count(obj => obj.Location == item.Location)
                            }).Distinct();
                        }
                        @foreach (var col in tableCols) {
                            <td class="location shadowed" colspan="@col.Span">
                                @col.Text
                            </td>
                        }
                    </tr>
                }
                <tr>
                    @foreach (var item in ViewData) {
                        var localTime = item.ValidFrom.ToLocalTime();
                        <td class="@item.Provider.Name when shadowed">
                            <time datetime="@localTime.ToString("u", CultureInfo.CurrentCulture)">
                                @localTime.ToString("t", CultureInfo.CurrentCulture)
                                <sub>@localTime.GetRelativeDays()</sub>
                            </time>
                        </td>
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    @foreach (var item in ViewData) {
                        double? temperatureAir = item.Temperature?.Air?.Convert(SR.Default.TemperatureUnit).Value;
                        <td class="@item.Provider.Name temperature shadowed">
                            @if (temperatureAir is not null) {
                                <span title="@temperatureAir.Value.ToString("F1", CultureInfo.CurrentCulture) @SR.Default.TemperatureUnit">
                                    @string.Format(CultureInfo.CurrentCulture, "{0:F0}°",
                                        temperatureAir.Value is >= -0.5 and < double.Epsilon ?
                                            // don't display '-0°' (minus zero)
                                            0.0 :
                                            // use round instead of floor
                                            Math.Round(temperatureAir.Value))
                                </span>
                            }
                        </td>
                    }
                </tr>
                <tr>
                    @foreach (var item in ViewData) {
                        string? conditionImage = null;
                        if (item.Conditions is not null && _weatherManifest is not null) {
                            if (_weatherManifest.TryGetValue(item.Conditions.Value, out var conditionAbbreviations)) {
                                conditionImage = linkOptions.Value.GetWeatherSymbol(ConditionImage.Theme, conditionAbbreviations);
                            } else {
                                logger.ManifestMismatch(item.Conditions);
                            }
                        }
                        double? uvIndex = item.UltravioletRadiation?.Index;
                        string uvIndexTitle = string.Empty;
                        if (uvIndex is not null && uvIndex > double.Epsilon) {
                            uvIndexTitle = MessageFormatter.Format(SR.Default.UltravioletIndexFormat, new {
                                UltravioletIndex = uvIndex.Value.ToString("F1", CultureInfo.CurrentCulture)
                            });
                        }
                        <td class="@item.Provider.Name conditionImage">
                            @if (conditionImage is not null) {
                                <div class="@UltravioletIndex.GetSeverity(uvIndex)">
                                    <img src="@conditionImage"
                                         title="@uvIndexTitle"
                                         alt="@conditionImage.Substring(conditionImage.LastIndexOf('/') + 1)"
                                         style="width: @ConditionImage.Width;
                                                height: @ConditionImage.Height">
                                </div>
                            }
                        </td>
                    }
                </tr>
                <tr>
                    @foreach (var item in ViewData) {
                        double? precipitationLiquid = item.Precipitation?.Liquid?.Convert(SR.Default.PrecipitationUnit).Value;
                        <td class="@item.Provider.Name precipitation shadowed">
                            @if (precipitationLiquid is not null && precipitationLiquid > 0) {
                                StringBuilder precipitationTitle = new();
                                if (item.Precipitation?.IntervalMinimum is not null && item.Precipitation?.IntervalMaximum is not null) {
                                    precipitationTitle.AppendFormat(CultureInfo.CurrentCulture, "{0:F1}",
                                        item.Precipitation.Value.IntervalMinimum.Value.Convert(SR.Default.PrecipitationUnit).Value);
                                    precipitationTitle.Append(" - ");
                                    precipitationTitle.AppendFormat(CultureInfo.CurrentCulture, "{0:F1}",
                                        item.Precipitation.Value.IntervalMaximum.Value.Convert(SR.Default.PrecipitationUnit).Value);
                                } else {
                                    precipitationTitle.AppendFormat(CultureInfo.CurrentCulture, "{0:F2}", precipitationLiquid.Value);
                                }

                                <span title="@precipitationTitle.ToString() @SR.Default.PrecipitationUnit">
                                    @precipitationLiquid?.ToString("F1", CultureInfo.CurrentCulture)
                                </span>
                            }
                        </td>
                    }
                </tr>
                <tr>
                    @foreach (var item in ViewData) {
                        string? windImage = WindImage.Theme switch {
                            "beafort" => item?.Wind?.CreateBeaufortArrow(WindImage.Width, WindImage.Height),
                            _ => item?.Wind?.CreateWindArrow(WindImage.Width, WindImage.Height)
                        };
                        string windTitle = string.Empty;
                        @if (item?.Wind is not null) {
                            if (item.Wind.Value.VariableDirections) {
                                windTitle = SR.Default.VariableWindFormat;
                            } else
                            if (item.Wind.Value.Sustained is not null && item.Wind.Value.FromDirection is not null) {
                                windTitle = MessageFormatter.Format(SR.Default.CardinalWindFormat, new {
                                    BeaufortDesignation = SR.Default.BeaufortDesignation[BeaufortScale.GetIndex(item.Wind.Value.Sustained.Value)],
                                    CardinalDirection = SR.Default.LongCardinalDirections[(int)Math.Round(item.Wind.Value.FromDirection.Value.Value / 45.0)]
                                });
                            }
                        }
                        <td class="@item?.Provider.Name windImage">
                            <span title="@windTitle.ToString()">
                                @if (windImage is not null) {
                                    @((MarkupString)windImage)
                                }
                            </span>
                        </td>
                    }
                </tr>
                <tr>
                    @foreach (var item in ViewData) {
                        MeasureD? windSustained = item.Wind?.Sustained;
                        <td class="@item.Provider.Name windSpeed shadowed">
                            @if (windSustained is not null) {
                                double windSustainedConverted = Math.Round(windSustained.Value.Convert(SR.Default.SpeedUnit).Value);
                                if (windSustainedConverted >= 1.0) {
                                    // highlight if wind is severe
                                    <span class="@(windSustained.Value.Convert("m/s").Value >= SevereWindAboveInMPS ? SevereWindCssClass : string.Empty)">
                                        @windSustainedConverted.ToString("F0", CultureInfo.CurrentCulture)
                                    </span>
                                } else {
                                    <span>0</span>
                                }
                                if (DisplayWindGust) {
                                    MeasureD? windGust = item.Wind?.Gust;
                                    if (windGust is not null && !double.IsNaN(windGust.Value.Value)) {
                                        double windGustConverted = Math.Round(windGust.Value.Convert(SR.Default.SpeedUnit).Value);
                                        if (windGustConverted >= 1.0) {
                                            // highlight if wind is severe
                                            <span class="@(windGust.Value.Convert("m/s").Value >= SevereWindAboveInMPS ? SevereWindCssClass : string.Empty)">
                                                (@(windGustConverted.ToString("F0", CultureInfo.CurrentCulture)))
                                            </span>
                                        } else {
                                            // keep empty
                                        }
                                    }
                                }
                            }
                        </td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
}
