.navbar {
  --bs-navbar-toggler-font-size: var(--bs-btn-font-size);
  --bs-navbar-padding-y: 0;
  padding-bottom: 1rem;
}

.navbar svg {
  width: 1em;
  height: 1em;
}

.navbar .btn,
.navbar .form-control {
  font-size: var(--font-size);
}

/* border */
[data-bs-theme=dark] .navbar {
  --nav-border-color: rgba(var(--bs-light-rgb), var(--semi-transparent));
  --bs-border-color: var(--nav-border-color);
  --bs-btn-border-color: var(--nav-border-color);
}
[data-bs-theme=light] .navbar {
  --nav-border-color: rgba(var(--bs-dark-rgb), var(--semi-transparent));
  --bs-border-color: var(--nav-border-color);
  --bs-btn-border-color: var(--nav-border-color);
}
.navbar .btn-outline-secondary {
  --bs-btn-border-color: var(--nav-border-color);
}

/* input label background */
.navbar .input-group-text {
  font-size: .75rem;
}
[data-bs-theme=dark] .navbar .input-group-text {
  background-color: rgba(var(--bs-tertiary-bg-rgb), var(--semi-opaque));
}
[data-bs-theme=light] .navbar .input-group-text {
  background-color: rgba(var(--bs-tertiary-bg-rgb), var(--semi-transparent));
}

/* background color */
.navbar .form-control,
.navbar .btn-outline-secondary {
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-active-color: var(--bs-body-color);
  --bs-btn-hover-color: var(--bs-body-color);
}
[data-bs-theme=dark] .navbar .form-control,
[data-bs-theme=dark] .navbar .btn-outline-secondary {
  background-color: rgba(var(--bs-tertiary-bg-rgb), var(--semi-transparent));
}
[data-bs-theme=light] .navbar .form-control,
[data-bs-theme=light] .navbar .btn-outline-secondary {
  background-color: rgba(var(--bs-tertiary-bg-rgb), var(--transparent));
}

/* input-group controls */
.navbar .form-control-input-group {
  border-right: none;
}
.navbar .form-control-input-group:focus {
  border-right: solid var(--bs-border-width) #86b7fe;
}
.navbar .btn-input-group {
  border-left: solid var(--bs-border-width) transparent;
}
.navbar .btn-input-group:hover {
  border-left: solid var(--bs-border-width) var(--bs-btn-hover-border-color);
}
