﻿@if (Visible) {
    <datalist id="@_durationDataListId">
        @foreach (var item in GetDurationDataList()) {
            <option value="@item"></option>
        }
    </datalist>
    <nav class="component navigate-component navbar navbar-expand-sm" style="@Style?.ToStyleString()">
        <div class="container-fluid p-0">
            <button class="navbar-toggler mb-1" type="button" data-bs-toggle="collapse"
                    data-bs-target="#@_navbarId"
                    aria-controls="@_navbarId" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul id="@_navbarId" class="navbar-nav collapse">
                <li class="nav-item mb-1 d-sm-none">
                    <div class="input-group">
                        <input class="form-control form-control-input-group"
                                @ref="_durationElement"
                                @bind="DurationValue"
                                @oninput="DurationChanged" @oninput:preventDefault="true"
                                list="@_durationDataListId">
                        <button class="btn btn-outline-secondary btn-input-group icon-link px-1"
                                title="@SR.Default.Navigation.Backward"
                                @onclick="@(() => ChangeToiClicked(-1))">
                            @((MarkupString)Embedded.Action("chevron-left"))
                        </button>
                        <button class="btn btn-outline-secondary btn-input-group icon-link px-1"
                                title="@SR.Default.Navigation.Forward"
                                @onclick="@(() => ChangeToiClicked(1))">
                                @((MarkupString)Embedded.Action("chevron-right"))
                        </button>
                    </div>
                </li>
            </ul>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-0 mb-lg-0">
                    <li class="nav-item mx-1">
                        <button class="btn btn-outline-success @(session.RealTimeClock ? "active" : "")"
                                @onclick="@NowClicked">
                            @SR.Default.Navigation.Now
                        </button>
                    </li>
                    <li class="nav-item mx-2">
                        <div class="input-group">
                            <span class="input-group-text">
                                @SR.Default.Navigation.Duration
                            </span>
                            <input class="form-control form-control-input-group"
                                   @ref="_durationElement"
                                   @bind="DurationValue"
                                   @oninput="DurationChanged" @oninput:preventDefault="true"
                                   list="@_durationDataListId">
                            <button class="btn btn-outline-secondary btn-input-group icon-link px-1"
                                    @onclick="ClearClicked">
                                @((MarkupString)Embedded.Action("x"))
                            </button>
                            <button class="btn btn-outline-secondary btn-input-group icon-link px-2"
                                    title="@SR.Default.Navigation.Backward"
                                    @onclick="@(() => ChangeToiClicked(-1))">
                                @((MarkupString)Embedded.Action("chevron-left"))
                            </button>
                            <button class="btn btn-outline-secondary btn-input-group icon-link px-2"
                                    title="@SR.Default.Navigation.Forward"
                                    @onclick="@(() => ChangeToiClicked(1))">
                                    @((MarkupString)Embedded.Action("chevron-right"))
                            </button>
                        </div>
                    </li>
                </ul>
                <div>
                    <div class="input-group">
                        <button class="btn btn-outline-secondary text-nowrap me-2" data-bs-toggle="modal"
                            data-bs-target="#@_modalId"
                            title="@SR.Default.Navigation.DetailsTitle"
                            @onclick="OpenModal">
                            <div class="icon-link">
                                @((MarkupString)Embedded.Action("calendar-time"))
                                <div class="d-none d-md-block">
                                    @session.Toi.ToString("d", CultureInfo.CurrentCulture)
                                    @session.Toi.ToString("t", CultureInfo.CurrentCulture)
                                </div>
                            </div>
                            <div class="vr mx-1"></div>
                            <div class="icon-link">
                                @((MarkupString)Embedded.Action("world"))
                                <div class="d-none d-lg-block">
                                    @CurrentLocation
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="jusify-content-right" style="max-width: 20rem">
                    <form class="d-flex" role="search">
                        <div class="input-group flex-nowrap">
                            <div class="input-group-text px-2">
                                @((MarkupString)Embedded.Action("search"))
                            </div>
                            <input name="q" class="form-control me-1" type="search" aria-label="Search"
                                placeholder="@SR.Default.Navigation.Search"
                                @bind="_search" @oninput="SearchChanged">
                        </div>
                    </form>
                </div>
            </div>
            <button class="btn btn-close ms-2" aria-label="Close"
                    title="@SR.Default.Modal.Close"
                    @onclick="@(() => Visible = !Visible)"></button>
        </div>
    </nav>

    <div id="@_modalId" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">
                        @SR.Default.Navigation.DetailsTitle
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div data-toggle="@_group1">
                        <div class="row">
                            <div class="col">
                                <label class="col-form-label" for="date" id="date-label">
                                    @SR.Default.Navigation.Date
                                </label>
                                <input autofocus id="date" class="form-control" type="date" aria-describedby="date-label"
                                    @bind="_modalView.Date">
                            </div>
                            <div class="col">
                                <label class="col-form-label" for="time" id="time-label">
                                    @SR.Default.Navigation.Time
                                </label>
                                <input id="time" class="form-control" type="time" aria-describedby="time-label"
                                    @bind="_modalView.Time">
                            </div>
                            <div class="col-auto align-self-end mb-1">
                                <button class="btn btn-outline-success btn-sm py-1 px-2"
                                        @onclick="ResetTimeClicked">
                                    @((MarkupString)Embedded.Action("calendar-pin"))
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-form-label" for="latitude" id="latitude-label">
                                    @SR.Default.Navigation.Latitude
                                </label>
                                <input id="latitude" class="form-control" type="number" min="-90" max="90" step="1" aria-describedby="latitude-label"
                                    @bind="_modalView.Latitude">
                            </div>
                            <div class="col">
                                <label class="col-form-label" for="longitude" id="longitude-label">
                                    @SR.Default.Navigation.Longitude
                                </label>
                                <input id="longitude" class="form-control" type="number" min="-180" max="180" step="1" aria-describedby="longitude-label"
                                       @bind="_modalView.Longitude">
                            </div>
                            <div class="col-auto align-self-end mb-1">
                                <button class="btn btn-outline-success btn-sm py-1 px-2"
                                        @onclick="DisplayMapClicked">
                                    <img src="_content/Deskimg.Blazor.Components/lib/leaflet/images/marker-icon.png" style="height: 1rem">
                                </button>
                            </div>
                        </div>
                        <hr />
                        <div class="btn-group" role="group">
                            @foreach (var item in ClippingButtons) {
                                string active = item.Value == _modalView.MinWidth ? "active" : string.Empty;
                                <button class="btn btn-outline-info @active" aria-describedby="@(item.Text)-label"
                                        @onclick="@(() => _modalView.MinWidth = item.Value)">
                                    @item.Text
                                </button>
                            }
                        </div>
                    </div>
                    <div data-toggle="@_group2" class="d-none">
                        <div id="@_mapId" style="height: 20rem"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div data-toggle="@_group1">
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                                @onclick="CloseModal">
                            @SR.Default.Modal.Close
                        </button>
                    </div>
                    <div data-toggle="@_group2" class="d-none">
                        <button class="btn btn-success"
                                @onclick="@UseMarkedClicked">
                            @SR.Default.Modal.Use
                        </button>
                        <button class="btn btn-warning ms-2"
                                @onclick="@ToggleMapVisibility">
                            @SR.Default.Modal.Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
