﻿@using System.Xml

@if (Visible) {
    <div class="component picture-component" style="opacity: @XmlConvert.ToString(Opacity)">
        <a href="@Source" target="_blank">
            <img id="@_imageId" alt="@Title" title="@Title" class="d-none">
        </a>
    </div>
}
