﻿@if (Visible && Source is not null) {
    <div class="component video-component">
        <figure>
            <figcaption>@Title</figcaption>
            <video autoplay="@AutoPlay" loop="@Loop" controls>
                <source src="@Source" type="@Type" media="@Media" />
            </video>
        </figure>
    </div>
}
