﻿<HeadContent>
    @if (session.ClippingRules is not null) {
        foreach (var item in session.ClippingRules) {
            <style media="@item">
                body {
                    position: fixed;
                    overflow: hidden;
                }
            </style>
        }
    }
</HeadContent>
