﻿<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <PageTitle>Page Not found</PageTitle>
        <LayoutView Layout="@typeof(ErrorLayout)">
            <not-found></not-found>
        </LayoutView>
    </NotFound>
</Router>