:root {
  --aside-width: 16rem;
  --footer-height: 3.25rem;
}

.fadeIn-1 {
  opacity: 1;
  animation: fadeIn 500ms;
}

.fadeIn-2 {
  opacity: 1;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1
  }
}

.fadeOut {
  opacity: 0;
  animation: fadeOut 1s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0
  }
}

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-y: hidden;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
}

aside .offcanvas {
  --bs-offcanvas-width: var(--aside-width);
  --bs-offcanvas-zindex: 1000;
  margin-bottom: var(--footer-height);
}

aside .nav {
  --bs-nav-link-padding-x: 2rem;
  --bs-nav-link-padding-y: 0;
  --bs-nav-link-color: var(--bs-body-color);
}

aside .content {
  margin-top: 1rem;
}

aside .content .nav-item {
  padding-left: .25rem;
  margin-right: .25rem;
}

aside .content .vr {
  width: 2px;
  margin-top: .25em;
  max-height: .5em;
  background-color: transparent;
  border: none;
  border-radius: 1.5px;
  opacity: var(--semi-opaque);
}

aside .content .vr.active {
  border: solid 1.5px var(--bs-link-color);
  width: 2px;
}

aside .content .nav-link {
  margin: 0;
  padding: 0 .5rem;
  border: solid 1.5px transparent;
}

aside .content .nav-link:focus-visible {
  border: solid 1.5px var(--bs-body-color);
  box-shadow: none;
}

aside .component svg {
  stroke: var(--component-color);
  stroke-width: .875px;
  height: 1rem;
}

footer {
  border-top: var(--bs-border-width) solid var(--bs-border-color);
  background-color: var(--bs-tertiary-bg);
}

footer>.action .btn {
  width: 8rem;
  margin-bottom: .25rem;
}

.notification {
  position: absolute;
  top: -3.5rem;
  left: 6rem;
  width: 16rem;
}

.heading {
  position: sticky;
  top: 0;
  z-index: 5000;
  height: 2.75rem;
  color: var(--bs-tertiary);
  background-color: var(--bs-tertiary-bg);
  border-bottom: solid var(--bs-border-width) var(--bs-border-color);
  vertical-align: bottom;
}

.heading>div {
  padding-top: .5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.heading>ul {
  padding-top: .75rem;
  padding-left: 1rem;
}

.heading>ul .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}

.scrollarea {
  position: fixed;
  left: var(--aside-width);
  height: calc(100% - var(--footer-height));
  width: calc(100% - var(--aside-width));
  overflow-y: auto;
}

.scrollarea .container {
  padding: 2rem;
}

.accordion-button .d-flex div:last-child {
  margin-right: 1rem;
}

.index-component {
  --font-size: .5rem;
}

.accordion {
  margin-bottom: .5rem;
}

.parameter {
  background: var(--bs-tertiary-bg);
  border-radius: var(--bs-border-radius);
  padding: .25rem;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: .5rem;
}

.parameter input[type=number] {
  max-width: 8rem;
}

.parameter select {
  max-width: 10rem;
}

.parameter svg {
  height: 1em;
}

.parameter .table {
  --bs-table-bg: none;
  color: inherit !important;
}

.parameter .table td {
  padding: .25rem;
}

.text-bg-body {
  border-color: var(--bs-border-color);
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
}