﻿@inherits LayoutComponentBase

<Deskimg.Components.ViewPort />
<aside>
    <Sidebar />
</aside>
<main class="main scrollarea">
    @Body
</main>
<footer class="fixed-bottom">
    <Footer />
</footer>
